.content {
  padding-top: 80px;
  padding-bottom: 90px;
  min-height: 100vh;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  background: #171717;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 12px 0;

  border-top: 1px solid #2b2b2b;
}

.bottom-nav a {
  color: #8d8d8d;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4px;

  font-size: 12px;
}

.bottom-nav svg {
  font-size: 22px;
}

.bottom-nav a.active {
  color: #c8102e;
}